<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="exercise" type="">
      <section name="a" type=""/>
      <section name="b" type=""/>
      <section name="c" type=""/>
      <section name="d" type=""/>
    </sectionGroup>
  </configSections>

  <exercise>
    <a>
      <e/>
    </a>
    <b/>
    <c>
      <d>
        <add name="d1" type="">
          <i/>
          <h/>
        </add>
        <add name="d2" type="">
          <i/>
          <h/>
        </add>
      </d>
    </c>
    <d/>
  </exercise>
  
</configuration>