<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="stagePractice" type="MarvellousWorks.PracticalPattern.StagePractice.Configuration.AuthenticationConfigurationSectionGroup, StagePractice">
      <section name="authenticator" type="System.Configuration.SingleTagSectionHandler"/>
      <section name ="credentials" type="System.Configuration.DictionarySectionHandler"/>
      <section name ="providers" type="System.Configuration.DictionarySectionHandler"/>
      <section name ="policies" type="System.Configuration.DictionarySectionHandler"/>
      <section name="handlerCoR" type="MarvellousWorks.PracticalPattern.StagePractice.Configuration.HandlerConfigurationSection, StagePractice"/>
    </sectionGroup>
  </configSections>

  <stagePractice>
    
    <authenticator value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.NewAuthenticator, StagePractice.Tests"/>
    
    <!--认证凭据名称和凭据类型的对应关系-->
    <credentials>
      <add key="usb" value="MarvellousWorks.PracticalPattern.StagePractice.UsbKeyCredential, StagePractice"/>
      <add key="windows" value="MarvellousWorks.PracticalPattern.StagePractice.WindowsCredential, StagePractice"/>
      <add key="userName" value="MarvellousWorks.PracticalPattern.StagePractice.UserNameCredential, StagePractice"/>
      <add key="customs" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.CustomsCredential, StagePractice.Tests"/>
    </credentials>

    <!--与认证相关的各种策略-->
    <policies>
      <!--仅适用于USB Key方式-->
      <add key="usbPo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.UsbKeyPolicy, StagePractice.Tests"/>
      <!--适用于USB Key和用户名口令方式-->
      <add key="usbAndUserNamePo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.UserNameAndUsbKeyPolicy, StagePractice.Tests"/>
      <!--仅适用于用户名口令方式-->
      <add key="userNamePo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.UserNamePolicy, StagePractice.Tests"/>
      <!--全适用-->
      <add key="allPo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.AllPolicy, StagePractice.Tests"/>
    </policies>

    <handlerCoR builder="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.NewHandlerCoRBuilder, StagePractice.Tests">
      <handlers>
        <!--认证的同时输出服务器端本地处理器数量-->
        <add key="processor" seq="3" po="usbPo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.LogProcessorCountHandler, StagePractice.Tests"/>
        <!--认证的同时输出服务器端本地.NET CLR的版本号-->
        <add key="clr" seq="1" po="allPo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.LogClrVersionHandler, StagePractice.Tests"/>
        <!--认证的同时输出服务器端本地操作系统版本-->
        <add key="os" seq="2" po="usbAndUserNamePo" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.LogOsVersionHandler, StagePractice.Tests"/>
      </handlers>
    </handlerCoR>

    <providers>
      <add key="usb" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.UsbKeyProvider, StagePractice.Tests"/>
      <add key="windows" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.WindowsProvider, StagePractice.Tests"/>
      <add key="userName" value="MarvellousWorks.PracticalPattern.StagePractice.Tests.Mock.UserNameProvider, StagePractice.Tests"/>
    </providers>
  </stagePractice>
  
</configuration>