<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="factoryMethod.customFactories" type=
      "System.Configuration.NameValueSectionHandler"/>
		<section name="concreteProducts" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<factoryMethod.customFactories>
		<add
		  key="MarvellousWorks.PracticalPattern.FactoryMethod.Tests.Classic.IFactory, FactoryMethod.Tests"
		  value="MarvellousWorks.PracticalPattern.FactoryMethod.Tests.Classic.FactoryA, FactoryMethod.Tests"/>
	</factoryMethod.customFactories>

	<concreteProducts>
		<add key="DEFAULT" value="MarvellousWorks.PracticalPattern.FactoryMethod.ProductA, FactoryMethod"/>
		<add key="a" value="MarvellousWorks.PracticalPattern.FactoryMethod.ProductA, FactoryMethod"/>
		<add key="b" value="MarvellousWorks.PracticalPattern.FactoryMethod.ProductB, FactoryMethod"/>
	</concreteProducts>
</configuration>
