<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections/>
  <marvellousWorks.practicalPattern.bridge>
    <customProducts>
      <products>
        <add name="control" type="">
          <formatter/>
          <command>
            <sqlBuilder/>
            <connection/>
          </command>
        </add>
      </products>
    </customProducts>
  </marvellousWorks.practicalPattern.bridge>
</configuration>
